[Unit]
Description=The Watchman service that scans a mounted filesystem for changes
After=network.target
WantedBy=watchman.target

[Service]
Type=simple
ExecStart=/usr/bin/watchman
Restart=True